@{
    ViewBag.Title = "Home Page";
}
    <div class="container">
        <div class="row task">
            <div class="col-md-6 ">

                <textarea name="" id="" cols="30" rows="10" placeholder="Task text"></textarea>
                   
            </div>
            <div class="col-md-6">
                
                <textarea name="" id="e_sex" cols="30" rows="10" placeholder="Actual result"></textarea>

             </div>
        </div>    
         <div class="expect row">
            <div class="col-md-6">

                <textarea name="" id="" cols="30" rows="10" placeholder="Task text"></textarea>
                   
            </div>
            <div class="col-md-6">
                
                <textarea name="" id="e_sex" cols="30" rows="10" placeholder="Actual result"></textarea>

             </div>
        </div>    
    </div>


@*<div class="section center">
    <button class="btn-floating light-blue waves-effect waves-light"><i class="material-icons">done</i></button>
</div>
<div class="section">
    @foreach (var t in ViewBag.Tasks)
    {
        <div class="card-panel light-blue lighten-4">
            <div class="center">Завдання:</div>
            @t.Description
            <div class="center">Очікуваний результат:</div>
            @t.Answer
        </div>
    }
</div>*@