@{
    ViewBag.Title = "Home Page";
}
<div id="mySidenav" class="sidenav">
    <a id="close" href="javascript:void(0)" class="closebtn">&times;</a>
    <h1>All tasks:</h1>
    <a href="#">Task 1</a>
    <a href="#">Task 2</a>
    <a href="#">Task 3</a>
    <a href="#">Task 4</a>
    <a href="#">Task 5</a>
    <a href="#">Task 6</a>
    <a href="#">Task 7</a>
    <a href="#">Task 8</a>
</div>

        <div class="container-fluid" id="container">            
            <div class="row sp">
                <div class="na col-md-2">
                    <span id="spa">&#9776; Tasks</span>
                </div>
            </div>

            <div class="row task" id="task">
                <div class="col-md-2">
                    <p>Instructions</p>
                     <p> line 14, create an sized heading called 'List of things I find just OK'.
                        Starting on line 15, create an ordered list using the tag.
                        Your ordered list should have three items, each wrapped (i.e. surrounded) by tags.
                    </p>
                </div>  

                <div class="ma col-md-5 text-center">
                    <!---- <textarea name="" id="e_sex" cols="30" rows="10" placeholder="Write code here..."></textarea> -->
                    <div id="tab">
                        <ul class="nav nav-pills">
                            <li class="active">
                                <a href="#html" data-toggle="tab">index.html</a>
                            </li>
                            <li>
                                <a href="#css" data-toggle="tab">style.css</a>
                            </li>
                        </ul>

                        <div class="tab-content clearfix">
                            <div class="tab-pane active" id="html">
                                <textarea id="code" cols="10" rows="10"></textarea>
                            </div>
                            <div class="tab-pane" id="css">
                                <textarea id="css" cols="30" rows="10"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="btn-group">
                        <button type="button" id="sub" class="btn btn-primary btn-lg">
                            <span class="glyphicon glyphicon-ok"></span> Submit
                        </button>
                        <button type="button" class="btn btn-warning btn-lg">
                            <span class="glyphicon glyphicon-refresh"></span> Reset
                        </button>
                    </div>
                </div>

                <div class="col-md-5">
                    <div id="tab">
                        <ul class="nav nav-pills">
                            <li class="active">
                                <a href="#actual" data-toggle="tab">Actual result</a>
                            </li>
                            <li>
                                <a href="#expect" data-toggle="tab">Expected result</a>
                            </li>
                        </ul>

                        <div class="tab-content clearfix">
                            <div class="tab-pane active" id="actual">
                                <div id="actual">Actual result</div>
                            </div>
                            <div class="tab-pane" id="expect">
                                <div id="expect">Expected result</div>
                            </div>
                        </div>
                    </div>
                </div>           
            </div>
        </div>
       
<script>
   // function openNav() {
     //   document.getElementById("mySidenav").style.display = "block";
       // document.getElementById("container").style.opacity = "0.1";
    //}

    function closeNav() {
        //document.getElementById("mySidenav").style.display = "none";
        //document.getElementById("container").style.opacity = "1";
        
    }

   // closeNav();
</script>
       

<div>task 1 result: @ViewBag.V1</div>
<div>task 2 result: @ViewBag.V2</div>
