html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	// width: 100%;
	// background-color: #D74177;
	background: linear-gradient(45deg, #D74177   , #FFE98A) fixed;
}

@font-face {
    font-family: 'OpenSansLight';
    src: url('fonts/OpenSansLight.eot');
    src: url('fonts/OpenSansLight.eot') format('embedded-opentype'),
         url('fonts/OpenSansLight.woff2') format('woff2'),
         url('fonts/OpenSansLight.woff') format('woff'),
         url('fonts/OpenSansLight.ttf') format('truetype'),
         url('fonts/OpenSansLight.svg#OpenSansLight') format('svg');
}

@font-face {
    font-family: 'OpenSansSemibold';
    src: url('fonts/OpenSansSemibold.eot');
    src: url('fonts/OpenSansSemibold.eot') format('embedded-opentype'),
         url('fonts/OpenSansSemibold.woff2') format('woff2'),
         url('fonts/OpenSansSemibold.woff') format('woff'),
         url('fonts/OpenSansSemibold.ttf') format('truetype'),
         url('fonts/OpenSansSemibold.svg#OpenSansSemibold') format('svg');
}

.bold {
	  font-family: 'OpenSansSemibold';
}

.light {
	 font-family: 'OpenSansLight';
}
.sp {
	margin-top: 20px;
	span {
		margin-left: 20px;
		.bold();
		font-size: 22px;
		cursor: pointer;
	}
}

.task {
	
	margin-top: 5px;
	li a{
		border-radius: 0;
		.light();
	}
	p:nth-child(1) {
		font-size: 24px;
		.bold();
	}
	p {
		margin-left: 20px;
		font-size: 16px;
		.light();
	}
	
		textarea {
			width: 100%;
			height: 450px;
			resize: none;
			.light();
			font-size: 18px;
		}
	div#actual,div#expect{
		.light();
		font-size: 20px;
	}
	.ma {
	margin-bottom: 5px;
	// margin-left: -90px;
	.btn-lg {
		margin-right: 10px; 
		width: auto;
		border-radius: 0;
		.light();
	}
}
}


.sidenav {
	h1 {
		color: #fff;
		.bold();
	}
	display: none;
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    .light();
    // text-align: left;
}
.sidenav h1 {
	text-align: center;
}
.sidenav a {
    // padding: 8px 8px 8px 32px;
    padding-top: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}

}
@media screen and (min-width: 369px) {
	.na {
  		margin-bottom: 10px;
  	}
}