body {
	margin: 0;
	padding: 0;

}

nav {
	position: fixed;
    background: linear-gradient(45deg, #312A6C, #852D91);
	ul.list-inline {
		margin-bottom: 0;

	}
	ul.list-inline li a {
		display: inline-block;
		text-transform: uppercase;
		text-decoration: none;
		padding: 15px 15px;
			&:hover {
				text-decoration: none;
				background-color: #67cc67;
				color: #fff;
		}
	}
}

.task {
	margin-top: 100px;
	textarea {
		width: 100%;
	}
}

.expect {
	margin-top: 10px;
	textarea {
		height: 300px;
		width: 100%;
	}	
}


