
@{
    ViewBag.Title = "Administrator page";
}

<div class="container">
    <div class="row">
        <div class="col-md-3">

            <div class="list-group" title="TASKS" id="taskList" style="margin-top:80px; max-width:100%; min-width: 40%;">
                <a href="#" class="list-group-item disabled"><b>Tasks</b></a>
            </div>
            <button type="button" class="btn btn-danger center-block add_btn" onclick="addTask()" name="create-task-button">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>
        <div class="col-md-9">
            <div class="row" style="margin-top:25px;">
                <!-- Nested rows -->
                <div class="row">
                    <h2 class="h3" style="text-align:center;">Task text</h2>
                </div>
                <!-- Text area for task text (instruction) -->
                <div class="col-lg-12">
                    <textarea style="resize:none" class="form-control" rows="15" id="task_text"></textarea>
                </div>
            </div>

            <!-- Second row-->
            <div class="row" style="margin-top:15px;">
                <!-- Create title for Rules -->
                <div class="row">
                    <h2 class="h3" style="text-align:center;">Rules</h2>
                </div>
                <!-- CheckBox with rules type -->
                <div id="rule_list">
                    <div class="rule">
                        <div class="col-md-2">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                                    Add
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Test_1</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Test_2</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Test_3</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Test_4</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <textarea style="resize:none" class="form-control" rows="1" id="link"></textarea>
                        </div>
                        <div class="col-md-4">
                            <textarea style="resize: none" class="form-control" rows="1" id="link"></textarea>
                        </div>
                        <div class="col-md-1">
                            <button type="button" name="add-parameter-button" class="btn btn-danger" style="height: 35px;">
                                <span class="glyphicon glyphicon-minus"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Four row - Button add-->
            <div class="row" style="margin-top:15px;">
                <div class="col-md-12 center-block">
                    <button type="button" name="add-parameter-button" class="btn btn-danger center-block" style="height:35px;">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" style="margin-top: 15px;">
    <div class="row text-center ma">
        <div class="btn-group">
            <button type="submit" name="save-task-button" class="btn btn-success btn-lg">Save</button>
            <button type="button" name="delete-task-button" class="btn btn-danger btn-lg">Delete</button>
        </div>
    </div>
</div>

@section scripts {
    <script>
        var uri = '/api/tasks/';

        function createRuleTypeDropdown() {
            return $('<div></div>').addClass("dropdown")
                .append($('<button></button>').addClass("btn-default dropdown-toggle").attr("type", "button").attr("id", "menu1")
                    .attr("data-toggle", "dropdown").html('Add<span class="caret"></span>')
                .append($('<ul></ul>').addClass("dropdown-menu").attr("role", "menu").attr("aria-labelledby", "menu1")
                    .html('<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Test_1</a></li>')));
        }
        function createRule(rule) {
            var ruleDiv = $('<div></div>').addClass("rule")
                .append($('<div></div>').addClass("col-md-2")
                    .append(createRuleTypeDropdown()))
                .append($('<div></div>').addClass("col-md-4")
                        .append($('<textarea></textarea>').addClass("form-control").attr("style", "resize:none").attr("rows", "1").attr("id", "link")))
                .append($('<div></div>').addClass("col-md-4")
                        .append($('<textarea></textarea>').addClass("form-control").attr("style", "resize:none").attr("rows", "1").attr("id", "link")))
                .append($('<div></div>').addClass("col-md-1"))
                .append($('<button></button>').attr("type", "button").addClass("btn btn-danger").attr("name", "add-parameter-button").attr("style", "height:35px")
                    .append($('<span></span>').addClass("glyphicon glyphicon-plus")));

            return ruleDiv;
        }
        function displayTask(id) {
            $.getJSON(uri.concat(id))
                .done(function (task) {
                    $('#task_text').val(task.Description);
                    $('#rule_list').empty();
                    $.each(task.Rule, function(key, rule) {
                        $('#rule_list').append(createRule(rule));
                    });
                });
        }


        $(document).ready(function() {
            // Send an AJAX request
            $.getJSON(uri)
                .done(function(data) {
                    // On success, 'data' contains a list of products.
                    $.each(data, function(key, item) {
                        // Add a list item for the product.
                        $('<a></a>').attr("href", "#").attr("class", "list-group-item")
                            .html(item.Name)
                            .on('click', function() {
                                displayTask(item.Id);
                            })
                            .appendTo($('#taskList'));
                    });
                });
           
        });
        function addTask() {
            $("#taskList").append("<li class='list-group-item'>Task</li>");
        }

        $('.list-group-item').on('click', function (e) {
            var previous = $(this).closest(".list-group").children(".active");
            previous.removeClass('active');
            $(e.target).addClass('active');
        });
        function formatItem(item) {
            return item.Name;
        }
    </script>
}