
@{
    ViewBag.Title = "Administrator page";
}

<div class="container">
    <div class="row" style="margin-top:15px">
        <div class="col-md-3">

            <div class="list-group" title="TASKS" id="taskList"  name="empty">
                <a href="#" class="list-group-item disabled"><b>Tasks</b></a>
            </div>
            <button type="button" class="btn btn-success btn-circle center-block add_btn" onclick="addTask()" name="create-task-button">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>
        <div class="col-md-9">   
            <div class="row">
                <div class="col-md-12">
                    <div class="btn-group">
                        <button type="submit" name="save-task-button" class="btn btn-success" onclick="putTask()"><span class="glyphicon glyphicon-save"></span>Зберегти</button>
                        <button type="button" name="delete-task-button" class="btn btn-danger" onclick="deleteTask();">Видалити<span class="glyphicon glyphicon-remove"></span></button>
                    </div>
                </div>
            </div>        
            <div class="row sp">
                <div class="col-md-12">
                    <input type="text" class="form-control" id="task_name" placeholder="Task name">    
                </div>         
            </div>                 
            <textarea style="resize:none" class="form-control sp" rows="15" id="task_description" placeholder="Task description"></textarea>            

            <!-- Second row-->
            <div class="row">
                <h2 class="h3" style="text-align:center;">Правила</h2>
            </div>
            <!-- CheckBox with rules type -->
            <div id="rule_list">
                <div class="rule row">
                    <div class="col-md-3">
                        <select class="selectpicker form-control">
                            <option>dfgdg</option>
                            <option>xchdfj</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <textarea style="resize:none" class="form-control" rows="1" placeholder="Selector"></textarea>
                    </div>
                    <div class="col-md-4">
                        <textarea style="resize:none" class="form-control" rows="1" placeholder="Value"></textarea>
                    </div>
                    <div class="col-md-1">
                        <button type="button" name="add-parameter-button" class="btn btn-danger pull-right">
                            <span class="glyphicon glyphicon-minus"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:15px">
                <div class="col-md-12 center-block">
                    <button type="button" name="add-parameter-button" class="btn btn-success center-block" onclick="addRule()">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
            </div>
        </div>                
    </div>    
</div>

@section scripts {
    <script>
        var uri = '/api/tasks/';
        var ruleTypeNames = ["XPath query", "XPath element style", "XPath attributes"];
        var ruleIds = [1, 2, 3];

        function createRuleTypeList(rule) {
            var div = $('<div></div>').addClass("col-md-3");
            var s = $('<select></select>').addClass("selectpicker form-control");
            for (var i = 0; i < ruleTypeNames.length; ++i) {
                var option = $('<option></option>').attr("value", ruleIds[i]).text(ruleTypeNames[i]);
                s.append(option);
            }
            s.val(rule.Type);
            s.appendTo(div).selectpicker('refresh');
            return div;
        }

        function createRule(rule) {
            var ruleDiv = $('<div></div>').addClass("rule row").attr("style", "margin-bottom:10px")
                .append(createRuleTypeList(rule))
                .append($('<div></div>').addClass("col-md-4")
                        .append($('<textarea></textarea>').addClass("form-control").attr("style", "resize:none").attr("rows", "1").attr("placeholder", "Selector")
                            .val(rule.Selector)))
                .append($('<div></div>').addClass("col-md-4")
                        .append($('<textarea></textarea>').addClass("form-control").attr("style", "resize:none").attr("rows", "1").attr("placeholder", "Value")
                            .val(rule.Value)))
                .append($('<div></div>').addClass("col-md-1")
                    .append($('<button></button>').attr("type", "button").addClass("btn btn-danger pull-right").attr("name", "add-parameter-button")
                        .click(function(){$(this).parent().parent().remove() })
                        .append($('<span></span>').addClass("glyphicon glyphicon-minus"))));

            return ruleDiv;
        }

        function addRule() {
            $('#rule_list').append(createRule({Type:ruleIds[0], Selector:"", Value:""}));
        }

        function displayTask(task) {
            $('#task_description').val(task.Description);
            $('#task_name').val(task.Name);
            $('#rule_list').empty();
            $('#taskList').attr('name', task.Id);
            $.each(task.Rule, function (key, rule) {
                $('#rule_list').append(createRule(rule));
            });
        }

        function loadTask(id) {
            $.getJSON(uri.concat(id))
                .done(function (task) {
                    displayTask(task);
                });
        }

        function loadTaskList() {
            $('#taskList').empty();
            $.getJSON(uri)
               .done(function (data) {
                   $.each(data, function (key, item) {
                       $('<a></a>').attr("href", "#").attr("class", "list-group-item")
                           .html(item.Name)
                           .on('click', function () {
                               displayTask(item);
                           })
                           .appendTo($('#taskList'));
                    });
                    if (data.length > 0)
                        displayTask(data[0]);
                });
        }
        $(document).ready(function() {            
            loadTaskList();            
        });

        function clearFields() {
            $('#task_name').val('');
            $('#task_description').val('');
            $('.form-control').val('');
            while (document.getElementById('rule_list').children.length > 1)
                document.getElementById('rule_list').removeChild(document.getElementById('rule_list').firstChild);
        }

        function addTask() {
            $('<a></a>').attr("href", "#").attr("class", "list-group-item")
                            .html("Нове завдання")
                            .on('click', function () {
                                clearFields();
                                $('#taskList').attr('name', 'empty');
                            })
                            .appendTo($('#taskList'));
        }

        $('.list-group-item').on('click', function (e) {
            var previous = $(this).closest(".list-group").children(".active");
            previous.removeClass('active');
            $(e.target).addClass('active');
        });

        function deleteTask() {        
            if($('#taskList').attr('name') !== 'empty')
                $.ajax({
                url: uri + $('#taskList').attr('name'),
                    type: 'DELETE',
                    contentType: 'application/json',
                    success: function (result) {
                        loadTaskList();
                    },
                    fail: (function () {
                        alert("error");
                    })
                });
        }

        function putTask() {
            //var obj = '{"Rule": [{"Type": 1,"Selector": "//h1","Value": ""},{"Type": 1,"Selector": "//h2","Value": ""}],"Name": "task1","Description": "Додайте тег <h1> та <h2> на сторінку"}';            
            var obj = '{"Rule":[';
            obj = obj + '],"Name":"';
            obj = obj + $('#task_name').val() + '","Description":"';
            obj = obj + $('#task_description').val() + '"}';
            //alert(obj);
            //{
            //    "Rule": [],
            //    "Name": "taskbla",
            //    "Description": "bla"
            //}

            //if ($('#taskList').attr('name') == 'empty')
            //    alert('ok');
            //else
            //    alert($('#taskList').attr('name'));

            jQuery.ajax({
                url: uri,
                type: "PUT",
                data: obj,
                contentType: "application/json",
                success: function (data) {
                    //alert('ok');
                }
            });
        }
    </script>
}