
@{
    ViewBag.Title = "Administrator page";
}

<div class="container">
    <div class="row" style="margin-top:15px">
        <div class="col-md-3">

            <div class="list-group" title="TASKS" id="taskList">
                <a href="#" class="list-group-item disabled"><b>Tasks</b></a>
            </div>
            <button type="button" class="btn btn-success btn-circle center-block add_btn" onclick="addTask()" name="create-task-button">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>
        <div class="col-md-9">         
            <div class="row">
                <div class="col-md-8">
                    <input type="text" class="form-control" id="TaskName" placeholder="Task name">
                </div>
                <div class="col-md-4">
                    <div class="btn-group pull-right">
                        <button type="submit" name="save-task-button" class="btn btn-success">Save</button>
                        <button type="button" name="delete-task-button" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>                 
            <textarea style="resize:none" class="form-control sp" rows="15" id="TaskDescription" placeholder="Task description"></textarea>            

            <!-- Second row-->            
            <!-- Create title for Rules -->
            <div class="row">
                <h2 class="h3" style="text-align:center;">Rules</h2>
            </div>
                        
            <div class="row">
                <div class="col-md-3">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="menu1" style="width:100%" data-toggle="dropdown">
                            Add
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" id="RuleTypeDropDown" role="menu" aria-labelledby="menu1">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Test_1</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Test_2</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Test_3</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Test_4</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <textarea style="resize:none" class="form-control" rows="1" id="link" placeholder="Rule selector"></textarea>
                </div>
                <div class="col-md-4">
                    <textarea style="resize:none" class="form-control" rows="1" id="link" placeholder="Rule value"></textarea>
                </div>
                <div class="col-md-1">
                    <button type="button" name="add-parameter-button" class="btn btn-danger pull-right">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
                </div>
            </div>
            <div class="row" style="margin-top:15px">
                <div class="col-md-12 center-block">
                    <button type="button" name="add-parameter-button" class="btn btn-success center-block">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
            </div>
        </div>                
    </div>    
</div>

@section scripts {
    <script>
        var uri = '/api/tasks/';

        function displayTask(id) {
            $.getJSON(uri.concat(id))
                .done(function (task) {
                    $('#TaskDescription').val(task.Description);
                    $('#TaskName').val(task.Name);
                });
        }


        $(document).ready(function() {
            // Send an AJAX request
            $.getJSON(uri)
                .done(function(data) {
                    // On success, 'data' contains a list of products.
                    $.each(data, function(key, item) {
                        // Add a list item for the product.
                        $('<a></a>').attr("href", "#").attr("class", "list-group-item")
                            .html(item.Name)
                            .on('click', function() {
                                displayTask(item.Id);
                            })
                            .appendTo($('#taskList'));
                    });
                });
           
        });
        function addTask() {
            $("#taskList").append("<li class='list-group-item'>Task</li>");
        }

        $('.list-group-item').on('click', function (e) {
            var previous = $(this).closest(".list-group").children(".active");
            previous.removeClass('active');
            $(e.target).addClass('active');
        });
        function formatItem(item) {
            return item.Name;
        }
        
//    function find() {
//      var id = $('#prodId').val();
//      $.getJSON(uri + '/' + id)
//          .done(function (data) {
//            $('#product').text(formatItem(data));
//          })
//          .fail(function (jqXHR, textStatus, err) {
//            $('#product').text('Error: ' + err);
//          });
//    }
    </script>
}